<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Chat</title>
  </head>
  <body>
    <h3>Edit your chat :- <%=chat.id%></h3>
    <p>
      this chat was sent from <b><i><%= chat.from%></i></b> to
      <b><i><%=chat.to%></i></b>
    </p>
    <form action="/chats/<%=chat.id%>?_method=PUT" method="post">
      <textarea name="newmsg"><%=chat.msg%></textarea><br />
      <button>edit</button>
    </form>
  </body>
</html>
